@use '/src/shared/styles' as *;

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: $font-size-base;
  font-family: 'Roboto', sans-serif;
  color: $text-primary;
  font-weight: $font-weight-normal;

  @include media-down(sm) {
    font-size: $font-size-sm;
  }
}
