@use '/src/shared/styles' as *;

.thead .th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: $light-grey;
  font-size: $font-size-sm;

  @include media-down(sm) {
    padding: 7px 12px;
    font-size: $font-size-sm;
  }
}

.thead .th:first-child {
  border-radius: 8px 0 0 8px;
}

.thead .th:last-child {
  border-radius: 0 8px 8px 0;
}
