// COLORS
$white: #ffffff;
$floral-white: #fff7ed;
$smoky-white: #f3f3f3;
$light-grey: #d8d8d8;
$black: #000000;

$cinnabar: #ff3d00;
$dark-orange: #ff8a00;

$cornflower: #5c7cfa;
$ocean-blue: #223c50;

// TEXT
$text-primary: $black;
$text-secondary: $white;
$text-tertiary: $ocean-blue;

// BACKGROUND
$bg-primary: $white;
$bg-secondary: $dark-orange;

// SHADOW
$shadow-dark: rgba($ocean-blue, 0.4);