// COLORS
$black: #000000;
$white: #ffffff;
$dark-orange: #ff8a00;
$ocean-blue: #223c50;
$cornflower: #5c7cfa;
$cinnabar: #ff3d00;

// TEXT
$text-primary: $black;
$text-secondary: $white;
$text-tertiary: $ocean-blue;

// BACKGROUND
$bg-primary: $white;
$bg-secondary: $dark-orange;

// SHADOW
$shadow-dark: rgba($ocean-blue, 0.4);