@use '/src/shared/styles' as *;

.button {
  padding: 10px 28px;

  border-radius: 7px;
  color: $white;
  background-color: $dark-orange;

  &:hover {
    box-shadow: 0px 0px 8px 2px $shadow-dark;
  }
}