@use '/src/shared/styles' as *;
@use './Header.keyframes.scss' as *;

.header {
  padding: 5px 0;

  background-color: $bg-secondary;
  box-shadow: 0px 4px 8px 0px $shadow-dark;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.burgerMenu {
  width: 40px;
  height: 40px;

  &:hover .burgerMenuIcon {
    color: $cornflower;
    animation: burgerBounce 1.2s ease-out;
  }
}

.title {
  color: $black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $cornflower;
  }
}
